version: "3.8"

services:
  jupyter:
    build:
      context: .
      dockerfile: containers/Dockerfile
    ports:
      - "80:80"
    volumes:
      - .:/workspace
      - /Volumes/LaCie/Users:/workspace/UserFolders
      - /Volumes/LaCie:/workspace/LaCie
