version: "3.8"

services:
  jupyter:
    build:
      context: .
      dockerfile: containers/Dockerfile
    ports:
      - "80:80"
    volumes:
      - .:/workspace
      - /Volumes/LaCie/Users:/workspace/UserFolders      # <--- make sure this has the appropriate drive on the left of the colon
