version: "3.8"

services:
  jupyter:
    build:
      context: .
      dockerfile: containers/Dockerfile
    ports:
      - "8888:8888"
    volumes:
      - .:/workspace
      - /Volumes/LaCie:/data      # <--- make sure this has the appropriate drive on the left of the colon
